$font-black: #292929;
$font-grey: #666666;
$bg-grey: #f5f5f5;
$baseFontSize: 16px;
$fontPlay: "Play";
$fontAlegreya: "Alegreya Sans";

// breakpoints
$tablets: 768px;
$phones: 480px;


// mixins

@mixin  h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: "Play";    
}


// z-index

$fix-nav: 100;
$products: 99;