.command {
    display: flex;

    .people {
        margin-right: 1.25rem;
        text-align: center;
        
        &:last-child {
            margin-right: 0;
        }

        &__image {
            max-width: 100%;
            width: 13.75rem;
        }

        &__name {
            font-size: 1.125rem;
            font-weight: 700;
            vertical-align: baseline;
            margin-top: 1.56rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            .pointer {
                margin-left: 0.25rem;
                display: inline-block;
            }
            
            &:hover ~ .people__desc {
                display: block;
            }

        }

        &__desc {
            margin-top: 0.688rem;
            color: $font-grey;
            display: none;

            &--title {
                color: $font-black;
                margin-top: 0.688rem;
                margin-bottom: 0.25rem;
            }
        }
    }
}

 