.container {
    width: 920px;
    height: 100%;
    margin: 0 10px;

    @include tablets {
        width: 95%;
    }

&--center {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

}