.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include tablets {
        align-items: center;
    }

    

    
    .logo {
        width: 2.5rem;
        height: 2.5rem;
    }

}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}