.modal {
    

    &__container {
        padding: 2.3125rem 3.4375rem;
        font-size: $fontPlay;
        font-size: 1.125rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000000;
        background: #ffffff;
        
    }

    &__text {
        margin-bottom: 1.125rem;
    }
}

#modal {
    display: none;
}

.fancybox__content {
    padding: 0;
}