.specification {
    position: relative;
    color: #000000;

    &__button {
        width: 91px;
        height: 91px;
        background: #9a9a9a;
        border-radius: 4px;
        margin-bottom: 25px;
        position: relative;
        cursor: pointer;

        &::before {
            content: url(./../img/items/spec.svg);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 42px;
            height: 42px;
        }

    }

    &__list {
        background: rgba(255, 255, 255, 0.92);
        position: absolute;
        top: 0;
        left: 91px;
        border-radius: 4px;
        padding: 16px 13px 18px 18px;
        display: none;
    }

    &__item {
        display: flex;
        padding: 12px 12px 12px 16px;
        align-items: center;
    }

    &__title {
        width: 127px;
        display: flex;
        align-items: center;
    }

    &__feature {
        width: 53px;
        text-align: end;
    }
    
}

.specification__button:hover ~ .specification__list {
    display: block;
}

.specification__list:hover  {
    display: block;
}



@each $var in (bluetooth, road, charge, kg, patent) {
    .specification__#{$var}::before {
        content: url(./../img/specification/#{$var}.svg);
        margin-right: 16px;
    }
}