* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: $baseFontSize;

    @include tablets {
        font-size: $baseFontSize - 1px;
    }
    
    @include phones {
        font-size: $baseFontSize - 2px;
    }
}

body {
    font-family: "Play", sans-serif;
    height: 100%;
    font-weight: 400;
    color: #292929
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    overflow: hidden;
 }