.main-conteiner {
  margin: 0 auto;
  width: 920px;
  height: 100%;
  padding: 24px 0 65px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(/img/main-background.png) bottom 65px right 0;
  background-repeat: no-repeat;
  background-size: 489px;
}