.radio {
    display: flex;
    margin-right: 1rem;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-bottom: 1.1875rem;

    @include tablets {
        margin-bottom: 24px;
    }

    &__elem {
        appearance: none;

        &:checked ~ .radio__visible {
            &::before {
                display: block;
            }
        }

        &:focus ~ .radio__visible {
            box-shadow: 0 0 3px 3px #eb324e;
        }
    }

    &__visible {
        width: 1.625rem;
        height: 1.625rem;
        margin-right: 0.625rem;
        position: relative;
        background: #fff;
        border-radius: 50%;
        

        &::before {
            width: 0.8125rem;
            height: 0.8125rem;
            display: none;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #E01F3D;
            border-radius: 50%;
        }
    }
    
    &--checkbox {
        .radio__visible {
            border-radius: 0;
            width: 1.5rem;
            height: 1.5rem;

            &::before {
                content: "";
                background: url(./../img/marker.svg) center center no-repeat;
            }
        }
    }
}